script(id="logsTmpl", type="text/x-jQuery-tmpl")
  div.info
    |Request ip 
    b
      |${ip}
    br
    |Destination 
    b
      |${destination}
    br
    |Search value 
    b
      |${searchValue}
    br
    |User agent
    b
      |${userAgent}
    br
    |Request type 
    b
      |${type}
    br
    |Http version 
    b
      |${httpVersion}
    br
    